form {
  font-family: $font_family;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  form {
    width: 80%;
    position: fixed;
    div.input_form {
      width: 250px;
      margin: 30px auto;
      margin-top: -120px;
      background: transparent;
      font-size: 20px;
      ::placeholder {
        color: #fff;
      }

      input[type="text"],
      input[type="date"],
      input[type="datetime"],
      input[type="email"],
      input[type="number"],
      input[type="search"],
      input[type="time"],
      input[type="url"],
      textarea,
      select {
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        outline: none;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        width: 100%;
        background: transparent;
        margin-bottom: 4%;
        border-bottom: 1px outset #fff;
        padding: 3%;
        color: #fff;
      }
      input[type="text"]:focus,
      input[type="date"]:focus,
      input[type="datetime"]:focus,
      input[type="email"]:focus,
      input[type="number"]:focus,
      input[type="search"]:focus,
      input[type="time"]:focus,
      input[type="url"]:focus,
      textarea:focus,
      select:focus {
        box-shadow: 0 0 5px $active_form;
        padding: 3%;
        border-bottom: 1px outset $active_form;
      }
    }
    div.data_form {
      margin: -20px auto;
      margin-right: -70px;
      color: #fff;
      text-align: center;

      h2 {
        font-size: 18px;
      }
      p {
        font-size: 16px;

        text-align: center;
      }
    }
    #btn_send {
      width: 80px;
      height: 30px;
      background: $azul_claro;
      border-radius: 10px;
      color: #fff;
      font-size: 20px;
      position: absolute;
      top: 110%;
      left: 50%;
      right: 50%;
      transition: 1s;
      -webkit-tap-highlight-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    #btn_send #circle {
      width: 5px;
      height: 5px;
      background: transparent;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 50%;
      overflow: hidden;
      transition: 500ms;
    }
    #btn_send:hover {
      background: transparent;
    }
    #btn_send:hover #circle {
      height: 50px;
      width: 250px;
      border-radius: 0;
      border-bottom: 2px solid #eee;
    }
    //Classe do span do botão
    .noselect {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }
  .thanks_page {
    font-family: $font_family;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    padding: 3%;
    margin: 5% auto;
    margin-top: 20%;
    h1 {
      font-size: 30px;
    }
    p {
      font-size: 20px;
      line-height: 40px;
      text-align: center;
      a {
        color: #fff;

        &:hover {
          color: $azul_hover;
        }
        &:visited {
          color: #fff;
        }
      }
    }
    ul {
      margin-bottom: 50%;
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1300px) {
  form {
    div.input_form {
      max-width: 400px;
      margin: 0 auto 100px;
      padding: 16px;
      background: transparent;
      font-size: 30px;
      float: left;
      ::placeholder {
        color: #fff;
        font-size: 15px;
      }

      input[type="text"],
      input[type="date"],
      input[type="datetime"],
      input[type="email"],
      input[type="number"],
      input[type="search"],
      input[type="time"],
      input[type="url"],
      textarea,
      select {
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        outline: none;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        width: 100%;
        background: transparent;
        margin-bottom: 4%;
        border-bottom: 1px outset #fff;
        padding: 3%;
        color: #fff;
      }
      input[type="text"]:focus,
      input[type="date"]:focus,
      input[type="datetime"]:focus,
      input[type="email"]:focus,
      input[type="number"]:focus,
      input[type="search"]:focus,
      input[type="time"]:focus,
      input[type="url"]:focus,
      textarea:focus,
      select:focus {
        box-shadow: 0 0 5px $active_form;
        padding: 3%;
        border-bottom: 1px outset $active_form;
      }
    }
    div.data_form {
      text-align: center;
      justify-content: center;
      align-items: center;
      float: right;
      margin: 50px auto;
      color: #fff;

      h2 {
        font-size: 30px;
      }
      p {
        font-size: 20px;

        text-align: center;
      }
    }
    #btn_send {
      margin: 0;
      width: 200px;
      height: 50px;
      background: $azul_claro;
      border: none;
      border-radius: 10px;
      color: #fff;
      font-size: 30px;
      position: absolute;
      top: 100%;
      left: 44%;
      right: 46%;
      transition: 1s;
      -webkit-tap-highlight-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      cursor: pointer;
      padding-top: 0;
    }
    #btn_send #circle {
      width: 5px;
      height: 5px;
      background: transparent;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 50%;
      overflow: hidden;
      transition: 500ms;
    }
    #btn_send:hover {
      background: transparent;
    }
    #btn_send:hover #circle {
      height: 50px;
      width: 200px;
      left: 0;
      border-radius: 0;
      border-bottom: 2px solid #eee;
    }
    //Classe do span do botão
    .noselect {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }
  .thanks_page {
    font-family: $font_family;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    padding: 3%;
    margin: 5% auto;
    margin-top: 20%;
    h1 {
      font-size: 30px;
    }
    p {
      font-size: 20px;
      line-height: 40px;
      text-align: center;
      a {
        color: #fff;

        &:hover {
          color: $azul_hover;
        }
        &:visited {
          color: #fff;
        }
      }
    }
    ul {
      margin-bottom: 50%;
    }
  }
}
@media only screen and (min-width: 1900px) {
  form {
    div.input_form {
      max-width: 500px;
      margin: 0 auto;
      padding: 16px;
      background: transparent;
      font-size: 20px;
      float: left;
      left: 10%;
      ::placeholder {
        color: #fff;
        font-size: 15px;
      }

      input[type="text"],
      input[type="date"],
      input[type="datetime"],
      input[type="email"],
      input[type="number"],
      input[type="search"],
      input[type="time"],
      input[type="url"],
      textarea,
      select {
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        outline: none;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        width: 100%;
        background: transparent;
        margin-bottom: 4%;
        border-bottom: 1px outset #fff;
        padding: 3%;
        color: #fff;
      }
      input[type="text"]:focus,
      input[type="date"]:focus,
      input[type="datetime"]:focus,
      input[type="email"]:focus,
      input[type="number"]:focus,
      input[type="search"]:focus,
      input[type="time"]:focus,
      input[type="url"]:focus,
      textarea:focus,
      select:focus {
        box-shadow: 0 0 5px $active_form;
        padding: 3%;
        border-bottom: 1px outset $active_form;
      }
    }
    div.data_form {
      text-align: center;
      justify-content: center;
      align-items: center;
      float: right;
      right: 10%;
      margin: 50px auto;
      color: #fff;

      h2 {
        font-size: 30px;
      }
      p {
        font-size: 20px;

        text-align: center;
      }
    }
    #btn_send {
      margin: 0;
      width: 250px;
      height: 50px;
      background: $azul_claro;
      border: none;
      border-radius: 10px;
      color: #fff;
      font-size: 30px;
      position: absolute;
      top: 100%;
      left: 44%;
      right: 46%;
      transition: 1s;
      -webkit-tap-highlight-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      cursor: pointer;
      padding-top: 0;
    }
    #btn_send #circle {
      width: 5px;
      height: 5px;
      background: transparent;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 50%;
      overflow: hidden;
      transition: 500ms;
    }
    #btn_send:hover {
      background: transparent;
    }
    #btn_send:hover #circle {
      height: 50px;
      width: 250px;
      left: 0;
      border-radius: 0;
      border-bottom: 2px solid #eee;
    }
    //Classe do span do botão
    .noselect {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }
  .thanks_page {
    font-family: $font_family;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    padding: 3%;
    margin: 10% auto;
    h1 {
      font-size: 40px;
      margin-bottom: 3%;
    }
    p {
      font-size: 30px;
      line-height: 40px;
      margin-bottom: 5%;
    }
    a {
      color: #fff;

      &:hover {
        color: $azul_hover;
      }
      &:visited {
        color: #fff;
      }
      &:active {
        color: #fff;
      }
    }
    ul {
      margin-bottom: 15%;
    }
  }
}
