header {
  background-color: $azul_escuro;
  display: block;
  height: 100px;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  header {
    text-align: center;
    align-items: center;
    justify-content: center;
    .logo {
      img {
        margin: 5% 18%;
        position: fixed;
        width: 140px;
        height: 70px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background: transparent;
        border: none;
        z-index: 9997;
      }
    }

    .top-menu {
      display: flex;
      justify-content: space-between;
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1300px) {
  header {
    .logo {
      img {
        margin-left: -150px;
        position: fixed;
        top: 25px;
        width: 140px;
        height: 70px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background: transparent;
        border: none;
        cursor: pointer;
        z-index: 9997;
        transition: 2s;
        transform-origin: 50%, 50%;
      }
    }
    .logo_change {
      img {
        position: fixed;
        margin-left: -150px;
        top: 20px;
        width: 70px;
        height: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background: transparent;
        border: none;
        cursor: pointer;
        z-index: 9997;
        transition: 2s;
        transform-origin: 50%, 50%;
      }
    }
    .top-menu {
      display: flex;
      justify-content: space-between;
    }
  }
}
@media only screen and (min-width: 1900px) {
  header {
    .logo {
      img {
        position: fixed;
        margin-left: 0px;
        top: 25px;
        width: 140px;
        height: 70px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background: transparent;
        border: none;
        cursor: pointer;
        z-index: 9997;
        transition: 2s;
        transform-origin: 50%, 50%;
      }
    }
    .logo_change {
      img {
        position: fixed;
        margin-left: 0px;
        top: 25px;
        width: 70px;
        height: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background: transparent;
        border: none;
        cursor: pointer;
        z-index: 9997;
        transition: 2s;
        transform-origin: 50%, 50%;
      }
    }
    .top-menu {
      display: flex;
      justify-content: space-between;
    }
  }
}
