body {
  font-family: $font_family;
  color: $cor_fonte;
  background-color: $azul_escuro;
  overflow-y: hidden;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {
    .page-header {
      background-color: $azul_escuro;
      height: auto;

      h1 {
        margin: 10% auto 15%;
        font-size: 40px;
        text-align: center;
        color: #fff;
      }
    }
    .social {
      margin: 2rem auto;
      width: 300px;
      align-items: center;
      display: flex;
      justify-content: space-around;
      list-style: none;
      li {
        width: 40px;
        a {
          color: #fff;

          &:hover {
            color: $azul_hover;
          }
        }
      }
    }
    //Botão padrão
    #btn {
      margin: 50px auto;
      width: 150px;
      height: 50px;
      background: $azul_claro;
      border: none;
      border-radius: 10px;
      color: #eee;
      font-size: 25px;
      position: relative;
      transition: 1s;
      -webkit-tap-highlight-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      cursor: pointer;
      padding-top: 0;
    }

    #btn #circle {
      width: 5px;
      height: 5px;
      background: transparent;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 50%;
      overflow: hidden;
      transition: 500ms;
    }
    #btn:hover {
      background: transparent;
    }
    #btn:hover #circle {
      height: 50px;
      width: 150px;
      left: 0;
      border-radius: 0;
      border-bottom: 2px solid #eee;
    }
    //Classe do span do botão
    .noselect {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    .whatsapp-icon,
    .whatsapp_float {
      position: fixed;
      width: 60px;
      height: 60px;
      bottom: 40px;
      right: 40px;
      background-color: transparent;
      color: #fff;
      text-align: center;
      font-size: 30px;
      z-index: 100;
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1300px) {
  body {
    .page-header {
      background-color: $azul_escuro;
      height: auto;

      h1 {
        margin: 10% auto 12%;
        font-size: 60px;
        text-align: center;
        color: #fff;
      }
    }
    .social {
      margin: 2rem auto;
      width: 300px;
      align-items: center;
      display: flex;
      justify-content: space-around;
      list-style: none;
      li {
        width: 40px;
        a {
          color: #fff;

          &:hover {
            color: $azul_hover;
          }
        }
      }
    }
    //Botão padrão
    #btn {
      margin: 50px auto;
      width: 250px;
      height: 50px;
      background: $azul_claro;
      border: none;
      border-radius: 10px;
      color: #eee;
      font-size: 35px;
      position: relative;
      transition: 1s;
      -webkit-tap-highlight-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      cursor: pointer;
      padding-top: 0;
    }

    #btn #circle {
      width: 5px;
      height: 5px;
      background: transparent;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 50%;
      overflow: hidden;
      transition: 500ms;
    }
    #btn:hover {
      background: transparent;
    }
    #btn:hover #circle {
      height: 50px;
      width: 250px;
      left: 0;
      border-radius: 0;
      border-bottom: 2px solid #eee;
    }
    //Classe do span do botão
    .noselect {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    //Whatsapp api
    /* for desktop */
    .whatsapp_float {
      position: fixed;
      width: 60px;
      height: 60px;
      bottom: 40px;
      right: 40px;
      background-color: transparent;
      color: #fff;
      text-align: center;
      font-size: 30px;
      z-index: 100;
    }

    .whatsapp-icon {
      margin-top: 16px;
    }
  }
}
@media only screen and (min-width: 1900px) {
  body {
    .page-header {
      background-color: $azul_escuro;
      height: auto;

      h1 {
        margin: 15% auto 15%;
        font-size: 80px;
        text-align: center;
        color: #fff;
      }
    }
    .social {
      margin: 2rem auto;
      width: 300px;
      align-items: center;
      display: flex;
      justify-content: space-around;
      list-style: none;
      li {
        width: 40px;
        a {
          color: #fff;

          &:hover {
            color: $azul_hover;
          }
        }
      }
    }
    //Botão padrão
    #btn {
      margin: 50px auto;
      width: 350px;
      height: 50px;
      background: $azul_claro;
      border: none;
      border-radius: 10px;
      color: #eee;
      font-size: 40px;
      position: relative;
      transition: 1s;
      -webkit-tap-highlight-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      cursor: pointer;
      padding-top: 0;
    }

    #btn #circle {
      width: 5px;
      height: 5px;
      background: transparent;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 50%;
      overflow: hidden;
      transition: 500ms;
    }
    #btn:hover {
      background: transparent;
    }
    #btn:hover #circle {
      height: 50px;
      width: 350px;
      left: 0;
      border-radius: 0;
      border-bottom: 2px solid #eee;
    }
    //Classe do span do botão
    .noselect {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    //Whatsapp api
    /* for desktop */
    .whatsapp_float {
      position: fixed;
      width: 60px;
      height: 60px;
      bottom: 40px;
      right: 40px;
      background-color: transparent;
      color: #fff;
      text-align: center;
      font-size: 30px;
      z-index: 100;
    }

    .whatsapp-icon {
      margin-top: 16px;
    }
  }
}
