form {
  div.input_form {
    font-family: $font_form;
    max-width: 400px;
    margin: 0 auto 100px;
    padding: 16px;
    background: transparent;
    font-size: 20px;
    float: left;
    ::placeholder {
      color: #fff;
    }

    input[type="text"],
    input[type="date"],
    input[type="datetime"],
    input[type="email"],
    input[type="number"],
    input[type="search"],
    input[type="time"],
    input[type="url"],
    textarea,
    select {
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      outline: none;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 100%;
      background: transparent;
      margin-bottom: 4%;
      border: 1px solid #fff;
      padding: 3%;
      color: #fff;
      font: 95% Arial, Helvetica, sans-serif;
    }
    input[type="text"]:focus,
    input[type="date"]:focus,
    input[type="datetime"]:focus,
    input[type="email"]:focus,
    input[type="number"]:focus,
    input[type="search"]:focus,
    input[type="time"]:focus,
    input[type="url"]:focus,
    textarea:focus,
    select:focus {
      box-shadow: 0 0 5px #43d1af;
      padding: 3%;
      border: 1px solid #43d1af;
    }
  }
  div.data_form {
    font: $font_form;
    text-align: center;
    justify-content: center;
    align-items: center;
    float: right;
    margin: 50px auto;
    color: #fff;

    h2 {
      font-size: 30px;
    }
    p {
      font: $font_form;
      font-size: 20px;
    }
  }
  #btn_send {
    margin: 0;
    width: 250px;
    height: 50px;
    background: $azul_claro;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 30px;
    position: absolute;
    top: 100%;
    left: 44%;
    right: 46%;
    transition: 1s;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    padding-top: 0;
  }
  #btn_send #circle {
    width: 5px;
    height: 5px;
    background: transparent;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    overflow: hidden;
    transition: 500ms;
  }
  #btn_send:hover {
    background: transparent;
  }
  #btn_send:hover #circle {
    height: 50px;
    width: 250px;
    left: 0;
    border-radius: 0;
    border-bottom: 2px solid #eee;
  }
  //Classe do span do botão
  .noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  form {
    width: 80%;
    div.input_form {
      font-family: $font_form;
      width: 350px;
      margin: 50px auto;
      background: transparent;
      font-size: 20px;
      ::placeholder {
        color: #fff;
      }

      input[type="text"],
      input[type="date"],
      input[type="datetime"],
      input[type="email"],
      input[type="number"],
      input[type="search"],
      input[type="time"],
      input[type="url"],
      textarea,
      select {
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        outline: none;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        width: 100%;
        background: transparent;
        margin-bottom: 4%;
        border: 1px solid #fff;
        padding: 3%;
        color: #fff;
        font: 95% Arial, Helvetica, sans-serif;
      }
      input[type="text"]:focus,
      input[type="date"]:focus,
      input[type="datetime"]:focus,
      input[type="email"]:focus,
      input[type="number"]:focus,
      input[type="search"]:focus,
      input[type="time"]:focus,
      input[type="url"]:focus,
      textarea:focus,
      select:focus {
        box-shadow: 0 0 5px #43d1af;
        padding: 3%;
        border: 1px solid #43d1af;
      }
    }
    div.data_form {
      font: $font_form;
      margin: 10px;
      margin-right: -70px;
      color: #fff;

      h2 {
        font-size: 25px;
      }
      p {
        font: $font_form;
        font-size: 20px;
        text-align: center;
      }
    }
    #btn_send {
      width: 120px;
      height: 50px;
      background: $azul_claro;
      border-radius: 10px;
      color: #fff;
      font-size: 30px;
      position: absolute;
      top: 100%;
      transition: 1s;
      -webkit-tap-highlight-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    #btn_send #circle {
      width: 5px;
      height: 5px;
      background: transparent;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 50%;
      overflow: hidden;
      transition: 500ms;
    }
    #btn_send:hover {
      background: transparent;
    }
    #btn_send:hover #circle {
      height: 50px;
      width: 250px;
      left: 0;
      border-radius: 0;
      border-bottom: 2px solid #eee;
    }
    //Classe do span do botão
    .noselect {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
