*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0 none;
  position: relative;
}
html {
  background: #000;
  box-sizing: border-box;
  font-family: "Vollkorn", sans-serif;
  font-size: 1rem;
  color: #000;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  *,
  *:before,
  *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0 none;
    position: relative;
  }
  html {
    background: #000;
    box-sizing: border-box;
    font-family: "Vollkorn", sans-serif;
    font-size: 1rem;
    color: #000;
  }
  body > article {
    display: flex;
    flex-wrap: wrap;
  }
  .service {
    figure {
      background: #eee;
      box-shadow: 4px -4px 8px rgba(0, 0, 0, 0.4);
    }
    figure::after {
      content: "";
      position: absolute;
      pointer-events: none;
    }
    figure:nth-of-type(2n)::after {
      left: 5vmin;
    }
    section {
      margin: 0 auto 10vh 0;
      background: $azul_medio;
      top: 0;
      padding: 5vmin;
      box-shadow: -4px -4px 8px rgba(0, 0, 0, 0.4);
    }
    figure:nth-of-type(1) {
      box-shadow: -4px -4px 8px rgba(0, 0, 0, 0.4);
    }
    section:nth-of-type(1) {
      margin: 0 auto 10vh 0;
    }
    figure:nth-of-type(2n) {
      box-shadow: -4px -4px 8px rgba(0, 0, 0, 0.4);
    }
    section:nth-of-type(2n) {
      margin: 0 auto 10vh 0;
      box-shadow: 4px -4px 8px rgba(0, 0, 0, 0.4);
    }
    figure:last-of-type {
    }
    section:last-of-type {
      margin-bottom: 0;
    }
    section::before {
      background: inherit;
      z-index: 1;
      content: "";
      position: absolute;
      transform: translate(calc(-50% + 1px), -50%) rotate(-45deg);
      clip-path: polygon(-15% -15%, 110% 0%, 0% 110%);
      box-shadow: -4px -2px 8px rgba(0, 0, 0, 0.4);
      border-radius: 1.5vmin 0 0 0;
    }
    section:nth-of-type(2n)::before {
      left: auto;
      right: 0;
      transform: translate(calc(50% - 1px), -50%) rotate(-45deg) scale(-1);
    }
    section::after {
      content: "";
      position: absolute;
      pointer-events: none;
    }
    section:nth-of-type(2n):after {
      right: 5vmin;
      left: 45%;
    }
    figure img {
      width: 100%;
      margin: 0 auto;
      flex-direction: column;
    }
    section > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      padding: 1rem;
    }
    h1 {
      color: #fff;
      margin: 7% auto;
      font-size: 40px;
      text-transform: uppercase;
    }
    h2 {
      color: #fff;
      margin: 0 auto;
      font-size: calc(5vmin + 3vmax);
      text-align: center;
      font-weight: 700;
      line-height: 1;
      word-spacing: 0.5rem;
    }
    p {
      color: #fff;
      text-align: center;
      width: 100%;
      font-weight: 200;
      font-size: calc(1.5vmin + 1.75vmax);
      margin: 0 auto;
    }
    a {
      color: transparent;
      -webkit-text-stroke: 2px #212121;
      text-decoration: none;
      font-weight: 900;
      letter-spacing: 2px;
    }
    a:hover,
    a:focus {
      -webkit-text-stroke: 1px #999;
    }
  }
  //Botão fechar form
  #btn_close {
    margin: 0 auto;
    width: 60px;
    height: 40px;
    background: $azul_claro;
    border: none;
    border-radius: 10px;
    color: #eee;
    font-size: 30px;
    position: relative;
    transition: 1s;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    padding-top: 0;
  }

  #btn_close #circle {
    width: 5px;
    height: 5px;
    background: transparent;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    overflow: hidden;
    transition: 500ms;
  }
  #btn_close:hover {
    background: transparent;
  }
  #btn_close:hover #circle {
    height: 40px;
    width: 60px;
    left: 0;
    border-radius: 0;
    border-bottom: 2px solid #eee;
  }
  //Classe do span do botão
  .noselectClose {
    font-family: $font_family;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 600px) {
  body > article {
    display: flex;
    flex-wrap: wrap;
  }
  .service {
    figure {
      background: #eee;
      width: calc(50% + 1px);
      height: 100vh;
      margin: 0 auto 10vh 0;
      position: sticky;
      top: 0;
      overflow: hidden;
      box-shadow: 4px -4px 8px rgba(0, 0, 0, 0.4);
    }
    figure::after {
      content: "";
      position: absolute;
      top: 5vmin;
      right: 5vmin;
      bottom: 5vmin;
      left: 45%;
      pointer-events: none;
    }
    figure:nth-of-type(2n)::after {
      right: 45%;
      left: 5vmin;
    }
    section {
      background: $azul_medio;
      width: calc(50% + 1px);
      height: 100vh;
      margin: 0 0 10vh auto;
      position: sticky;
      top: 0;
      // overflow: hidden;
      padding: 5vmin;
      box-shadow: -4px -4px 8px rgba(0, 0, 0, 0.4);
    }
    figure:nth-of-type(1),
    section:nth-of-type(1) {
      width: 50%;
    }
    figure:nth-of-type(2n) {
      margin: 0 0 10vh auto;
      box-shadow: -4px -4px 8px rgba(0, 0, 0, 0.4);
    }
    section:nth-of-type(2n) {
      margin: 0 auto 10vh 0;
      box-shadow: 4px -4px 8px rgba(0, 0, 0, 0.4);
    }
    figure:last-of-type,
    section:last-of-type {
      margin-bottom: 0;
    }
    section::before {
      background: inherit;
      z-index: 1;
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 7vmin;
      height: 7vmin;
      transform: translate(calc(-50% + 1px), -50%) rotate(-45deg);
      clip-path: polygon(-15% -15%, 110% 0%, 0% 110%);
      box-shadow: -4px -2px 8px rgba(0, 0, 0, 0.4);
      border-radius: 1.5vmin 0 0 0;
    }
    section:nth-of-type(2n)::before {
      left: auto;
      right: 0;
      transform: translate(calc(50% - 1px), -50%) rotate(-45deg) scale(-1);
    }
    section::after {
      content: "";
      position: absolute;
      top: 5vmin;
      right: 45%;
      bottom: 5vmin;
      left: 5vmin;
      pointer-events: none;
    }
    section:nth-of-type(2n):after {
      right: 5vmin;
      left: 45%;
    }
    figure img {
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
      object-position: center;
    }
    section > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      padding: 1rem;
    }
    h1 {
      color: #fff;
      margin: 7% auto;
      font-size: 75px;
      text-transform: uppercase;
    }
    h2 {
      color: #fff;
      margin: 0 auto;
      font-size: calc(5vmin + 3vmax);
      text-align: center;
      font-weight: 700;
      line-height: 1;
      word-spacing: 0.5rem;
    }
    p {
      color: #fff;
      text-align: right;
      width: 100%;
      font-weight: 200;
      font-size: calc(1.5vmin + 1.75vmax);
      margin: 0 auto;
    }
    a {
      color: transparent;
      -webkit-text-stroke: 2px #212121;
      text-decoration: none;
      font-weight: 900;
      letter-spacing: 2px;
    }
    a:hover,
    a:focus {
      -webkit-text-stroke: 1px #999;
    }
  }
  //Botão fechar form
  #btn_close {
    margin: 0 auto;
    width: 60px;
    height: 40px;
    background: $azul_claro;
    border: none;
    border-radius: 10px;
    color: #eee;
    font-size: 30px;
    position: relative;
    bottom: 25%;
    left: 45%;
    transition: 1s;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    padding-top: 0;
  }

  #btn_close #circle {
    width: 5px;
    height: 5px;
    background: transparent;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    overflow: hidden;
    transition: 500ms;
  }
  #btn_close:hover {
    background: transparent;
  }
  #btn_close:hover #circle {
    height: 40px;
    width: 60px;
    left: 0;
    border-radius: 0;
    border-bottom: 2px solid #eee;
  }
  //Classe do span do botão
  .noselectClose {
    font-family: $font_family;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1300px) {
  body > article {
    display: flex;
    flex-wrap: wrap;
  }
  .service {
    figure {
      background: #eee;
      width: calc(50% + 1px);
      height: 100vh;
      margin: 0 auto 10vh 0;
      position: sticky;
      top: 0;
      overflow: hidden;
      box-shadow: 4px -4px 8px rgba(0, 0, 0, 0.4);
    }
    figure::after {
      content: "";
      position: absolute;
      top: 5vmin;
      right: 5vmin;
      bottom: 5vmin;
      left: 45%;
      pointer-events: none;
    }
    figure:nth-of-type(2n)::after {
      right: 45%;
      left: 5vmin;
    }
    section {
      background: $azul_medio;
      width: calc(50% + 1px);
      height: 100vh;
      margin: 0 0 10vh auto;
      position: sticky;
      top: 0;
      // overflow: hidden;
      padding: 5vmin;
      box-shadow: -4px -4px 8px rgba(0, 0, 0, 0.4);
    }
    figure:nth-of-type(1),
    section:nth-of-type(1) {
      width: 50%;
    }
    figure:nth-of-type(2n) {
      margin: 0 0 10vh auto;
      box-shadow: -4px -4px 8px rgba(0, 0, 0, 0.4);
    }
    section:nth-of-type(2n) {
      margin: 0 auto 10vh 0;
      box-shadow: 4px -4px 8px rgba(0, 0, 0, 0.4);
    }
    figure:last-of-type,
    section:last-of-type {
      margin-bottom: 0;
    }
    section::before {
      background: inherit;
      z-index: 1;
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 7vmin;
      height: 7vmin;
      transform: translate(calc(-50% + 1px), -50%) rotate(-45deg);
      clip-path: polygon(-15% -15%, 110% 0%, 0% 110%);
      box-shadow: -4px -2px 8px rgba(0, 0, 0, 0.4);
      border-radius: 1.5vmin 0 0 0;
    }
    section:nth-of-type(2n)::before {
      left: auto;
      right: 0;
      transform: translate(calc(50% - 1px), -50%) rotate(-45deg) scale(-1);
    }
    section::after {
      content: "";
      position: absolute;
      top: 5vmin;
      right: 45%;
      bottom: 5vmin;
      left: 5vmin;
      pointer-events: none;
    }
    section:nth-of-type(2n):after {
      right: 5vmin;
      left: 45%;
    }
    figure img {
      min-width: 90%;
      min-height: 100%;
      object-fit: cover;
      object-position: center;
    }
    section > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      padding: 1rem;
    }
    h1 {
      color: #fff;
      margin: 7% auto;
      font-size: 60px;
      text-transform: uppercase;
    }
    h2 {
      color: #fff;
      margin: 0 auto;
      font-size: calc(5vmin + 3vmax);
      text-align: center;
      font-weight: 700;
      line-height: 1;
      word-spacing: 0.5rem;
    }
    p {
      color: #fff;
      text-align: right;
      width: 100%;
      font-weight: 200;
      font-size: calc(1.2vmin + 1.5vmax);
      line-height: calc(1.2vmin + 1.5vmax);
      margin: 0 auto;
    }
    a {
      color: transparent;
      -webkit-text-stroke: 2px #212121;
      text-decoration: none;
      font-weight: 900;
      letter-spacing: 2px;
    }
    a:hover,
    a:focus {
      -webkit-text-stroke: 1px #999;
    }
  }
  //Botão fechar form
  #btn_close {
    margin: 0 auto;
    width: 60px;
    height: 40px;
    background: $azul_claro;
    border: none;
    border-radius: 10px;
    color: #eee;
    font-size: 30px;
    position: relative;
    bottom: 15%;
    left: 40%;
    transition: 1s;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    padding-top: 0;
  }

  #btn_close #circle {
    width: 5px;
    height: 5px;
    background: transparent;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    overflow: hidden;
    transition: 500ms;
  }
  #btn_close:hover {
    background: transparent;
  }
  #btn_close:hover #circle {
    height: 40px;
    width: 60px;
    left: 0;
    border-radius: 0;
    border-bottom: 2px solid #eee;
  }
  //Classe do span do botão
  .noselectClose {
    font-family: $font_family;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
@media only screen and (min-width: 1900px) {
  body > article {
    display: flex;
    flex-wrap: wrap;
  }
  .service {
    figure {
      background: #eee;
      width: calc(50% + 1px);
      height: 100vh;
      margin: 0 auto 10vh 0;
      position: sticky;
      top: 0;
      overflow: hidden;
      box-shadow: 4px -4px 8px rgba(0, 0, 0, 0.4);
    }
    figure::after {
      content: "";
      position: absolute;
      top: 5vmin;
      right: 5vmin;
      bottom: 5vmin;
      left: 45%;
      pointer-events: none;
    }
    figure:nth-of-type(2n)::after {
      right: 45%;
      left: 5vmin;
    }
    section {
      background: $azul_medio;
      width: calc(50% + 1px);
      height: 100vh;
      margin: 0 0 10vh auto;
      position: sticky;
      top: 0;
      // overflow: hidden;
      padding: 5vmin;
      box-shadow: -4px -4px 8px rgba(0, 0, 0, 0.4);
    }
    figure:nth-of-type(1),
    section:nth-of-type(1) {
      width: 50%;
    }
    figure:nth-of-type(2n) {
      margin: 0 0 10vh auto;
      box-shadow: -4px -4px 8px rgba(0, 0, 0, 0.4);
    }
    section:nth-of-type(2n) {
      margin: 0 auto 10vh 0;
      box-shadow: 4px -4px 8px rgba(0, 0, 0, 0.4);
    }
    figure:last-of-type,
    section:last-of-type {
      margin-bottom: 0;
    }
    section::before {
      background: inherit;
      z-index: 1;
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 7vmin;
      height: 7vmin;
      transform: translate(calc(-50% + 1px), -50%) rotate(-45deg);
      clip-path: polygon(-15% -15%, 110% 0%, 0% 110%);
      box-shadow: -4px -2px 8px rgba(0, 0, 0, 0.4);
      border-radius: 1.5vmin 0 0 0;
    }
    section:nth-of-type(2n)::before {
      left: auto;
      right: 0;
      transform: translate(calc(50% - 1px), -50%) rotate(-45deg) scale(-1);
    }
    section::after {
      content: "";
      position: absolute;
      top: 5vmin;
      right: 45%;
      bottom: 5vmin;
      left: 5vmin;
      pointer-events: none;
    }
    section:nth-of-type(2n):after {
      right: 5vmin;
      left: 45%;
    }
    figure img {
      min-width: 90%;
      min-height: 100%;
      object-fit: cover;
      object-position: center;
    }
    section > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      padding: 1rem;
    }
    h1 {
      color: #fff;
      margin: 7% auto;
      font-size: 60px;
      text-transform: uppercase;
    }
    h2 {
      color: #fff;
      margin: 0 auto;
      font-size: calc(5vmin + 3vmax);
      text-align: center;
      font-weight: 700;
      line-height: 1;
      word-spacing: 0.5rem;
    }
    p {
      color: #fff;
      text-align: right;
      width: 100%;
      font-weight: 200;
      font-size: calc(1vmin + 1.4vmax);
      line-height: calc(1.5vmin + 1.85vmax);
      margin: 0 auto;
    }
    a {
      color: transparent;
      -webkit-text-stroke: 2px #212121;
      text-decoration: none;
      font-weight: 900;
      letter-spacing: 2px;
    }
    a:hover,
    a:focus {
      -webkit-text-stroke: 1px #999;
    }
  }
  //Botão fechar form
  #btn_close {
    margin: 0 auto;
    width: 60px;
    height: 40px;
    background: $azul_claro;
    border: none;
    border-radius: 10px;
    color: #eee;
    font-size: 30px;
    position: relative;
    bottom: 15%;
    left: 40%;
    transition: 1s;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    padding-top: 0;
  }

  #btn_close #circle {
    width: 5px;
    height: 5px;
    background: transparent;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    overflow: hidden;
    transition: 500ms;
  }
  #btn_close:hover {
    background: transparent;
  }
  #btn_close:hover #circle {
    height: 40px;
    width: 60px;
    left: 0;
    border-radius: 0;
    border-bottom: 2px solid #eee;
  }
  //Classe do span do botão
  .noselectClose {
    font-family: $font_family;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
