.sliderClients {
  margin: 0 auto;
  margin-top: 50px;
  background-color: $cor_footer;
  h2 {
    color: #fff;
  }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .sliderClients {
    width: 100%;
    margin: 0 auto;
    background-color: $cor_footer;
    h2 {
      color: #fff;
    }
    img {
      margin: 20px auto;
      padding-left: 40px;
      padding-right: 40px;
      width: 150px;
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
